.feynman__title {
    line-height: 1.15;
      font-size: 120px;
      font-weight: bold;
      z-index: 1;
      width: 648px;
      margin-top: 100px;
      text-align: center;
      margin-bottom: 0;
    
  }