.resources__logo-zone {
    width: 1100px;
    margin-top: 80px;
    margin-bottom: 217px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }