.kaufman__triangle{
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    top: 0;
    z-index: -1;
    background-image: url(/images/kaufman-triangle.svg);
    background-size: 100%;
   
   
  }