.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    align-self: flex-start;
    margin-left: 48px;
  }
  .khan__buy-link:hover {
    opacity: .5;
  }