.header__subtitle {
    width: 388px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    position: absolute;
    margin: 0;
    bottom: 30px;
    left: 64px;
    
    
  }