.rotation {
    animation: rotation 20s linear normal infinite;
  }
  @keyframes rotation {
    from {
             transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
      
    }
  